@import 'styles/news';

$side-group-span: 5;

%btnHover {
  background-color: #f7f7f7;
  transition: ease 0.6s;
}

%headerContainer {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  padding: 0 3%;
}

.siteHeader {
  // @include flex-row;
  @extend %headerContainer;
  margin: 0 auto;
  margin: auto;

  // max-width: 1200px;
  height: 50px;
  @include media('>laptop') {
    height: 43px;
  }
}

.topContainer {
  max-width: 1200px;
  position: relative;
  @include flex-row;
  margin: 0px auto;
  width: 100%;
  padding: 8px 15px 3px;
  @include media('>laptop') {
    padding: 4px 15px 2px;
  }
}

.rowTwoContainer {
  display: none;
  @extend %headerContainer;

  @include media('>tablet', '<laptop') {
    position: relative;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.tabletLogin {
  margin-left: auto;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0px 8px;
  color: rgb(50, 104, 145);
}

.searchIcon {
  padding: 4px;
}

.searchBtn {
  cursor: pointer;
  // margin: auto;
  position: static;
  @include flex-row;
  padding: 8px 9px 9px;
  place-items: center;
  margin-right: 5px;
  border-radius: 3px;

  // border: 2px solid black;
  @include media('<laptop') {
    display: none;
  }
  &:hover {
    @extend %btnHover;
  }
}

.activeMod {
  @extend %btnHover;
  // padding: 0px;
}
.inactiveMod {
  background-color: white;
}

.searchBar {
  @include media('<laptop') {
    display: none;
  }
}

.menuBtn {
  // padding: 5px;
  align-items: center;
  &:hover {
    @extend %btnHover;
  }
}

.leftBtnGroup {
  @include flex-row;
  position: absolute;
  left: 0px;
  align-items: center;
  // vertical-align: middle;
}
.rightBtnGroup {
  @include flex-row;
  position: absolute;
  right: 0px;
  align-items: center;
  // margin-left: auto;
  // border: 2px black solid;
  height: 80%;
  @include media('>laptop') {
  }
}

.title {
  @include flex-row;
  justify-content: center;
  font-size: 22px;
  font-family: $font-serif;
  font-weight: 600;
  margin: 0px auto 0px;

  @include media('>laptop') {
    font-size: 26px;
  }
}

.login {
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  @include media('<laptop') {
    display: none;
  }
}

.profile {
  padding: 4px;
  @include media('>laptop') {
    display: none;
  }
}
.sectionTitle {
  display: block;
  position: absolute;
  left: 105px;
  line-height: 19px;
  top: 8px;
  letter-spacing: 0.7px;
  line-height: 19px;
  font-size: 14.25px;
  font-family: $font-sans;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.responsiveSectionTitle {
  @include media('<laptop') {
    display: none;
  }
}
