/* .card {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
  font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
  padding-bottom: 16px;
}
.largeCard {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
  font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
  padding-bottom: 16px;
}

.smallCard {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px);
  font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
  padding-bottom: 16px;
} */

@media (min-width: 750px) {
  .date {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: rgb(153, 153, 153);
    font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
    margin: 8px 0px 7px;
    /* order: 3; */
  }
  .listCard {
    display: grid;
    grid-template-columns: 125px auto;
    width: 80%;
    margin: 0 auto;
    font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
    padding-bottom: 16px;
    border-bottom: 2px rgb(107, 107, 107) solid;
    padding: 10px 0px;
  }

  .listContent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
  }
}
@media (max-width: 750px) {
  .date {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: rgb(153, 153, 153);
    font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
    margin: 8px 0px 7px;
    order: 3;
    /* height: 100px; */
  }
  .listCard {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 125px auto; */
    width: 80%;
    margin: 0 auto;
    font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
    padding-bottom: 16px;
    border-bottom: 2px rgb(107, 107, 107) solid;
    padding: 10px 0px;
  }

  .listContent {
    display: flex;
    flex-direction: row;

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px; */
    font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
  }
  .image {
    flex: 1;
    display: flex;
  }
  .article {
    flex-direction: column;
    flex: 1;
    display: flex;
  }
}
