@import 'styles/news';
// @import '../../../styles/news';

.excerpt {
  font-size: 0.8rem;
  padding-top: 8px;
  color: $excerpt-color;
  @include media('<phone') {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.375rem;
  }
}

.outerContainer {
  font-family: $font-serif;
  padding: 0px 0px 40px;
  @include media('>laptop') {
    padding: 0px 0px 32px;
  }
}

.heroTitle,
.articleTile {
  font-weight: bold;
  margin: 2px 0px;
  height: max-content;
  font-size: 0.9rem;
}

.articleLink:hover {
  @include link-hover;
}

.heroTitle {
  @include media('<tablet') {
    font-size: 1.875rem;
    line-height: 2.0625rem;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
}

.articleTitle {
  @include media('<tablet') {
    font-size: 1.3125rem;
    line-height: 1.4375rem;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
}

.heroImage {
  position: relative;
  display: block;
  @include media('<tablet') {
    padding: 15px 0px;
  }
  @include media('>tablet') {
    grid-column: span 8;
  }
}

.container {
  @include media('>tablet') {
    @include grid;
  }

  @include media('>laptop') {
    @include grid($columns: 20);
  }
}

.heroGrid {
  @include media('<tablet') {
    @include flex-col;
    padding-bottom: 15px;
  }
}

.hero,
.heroContent,
.tile {
  @include media('<tablet') {
    @include flex-col;
  }
}

.groupThree {
  @include media('<laptop') {
    grid-column: span 8;
    @include grid(8);
  }
  @include media('>laptop') {
    @include grid-span(14);
    @include grid(10);
    width: 100%;
  }
}

.fourth {
  @include media('<tablet') {
    // display: grid;
    // position: relative;
    // grid-column: span 4;
  }
  @include media('>tablet', '<laptop') {
    display: grid;
    position: relative;
    grid-column: span 6;
  }
  @include media('>laptop') {
    display: grid;
    position: relative;
    grid-column: span 14;
    border-top: 1px solid #dedede;
    padding-top: 10px;
    margin-top: 10px;
  }
}

.tile {
  position: relative;
  display: grid;
  @include media('<tablet') {
    grid-column: span 8;
  }
  @include media('>tablet', '<laptop') {
    grid-column: span 4;
  }
  @include media('>laptop') {
    padding-right: 10px;
    grid-column: span 5;
  }
}

@media (max-width: $size-tablet) {
  .heroText {
    display: flex;
    width: 100%;
  }

  .tile,
  .fourth {
    border-top: $border-light 1px solid;
  }

  .tile,
  .fourth {
    padding: 10px 0px;
  }
}

.hero {
  position: relative;

  &::after {
    @include media('>laptop') {
      @include divider-section('right');
    }
    @include media('>tablet', '<laptop') {
      @include divider-section('bottom');
    }
  }
}

.fourth {
  // display: relative;
  &:not(:first-child)::before {
    @include media('>tablet') {
      @include divider-section('left');
      // display: grid;
      // content: '';
      // height: 100%;
      // position: absolute;
      // left: -16px;
      // border-left: 1px solid #dedede;
    }
  }
}

@media (min-width: $size-tablet) {
  .hero {
    display: grid;
    grid-column: span 14;
  }

  .heroGrid {
    @include grid;
  }

  .heroText {
    display: block;
    width: 100%;
    grid-column: span 6;
  }

  .groupTwo {
    position: relative;
    @include grid();
    grid-column: span 14;
  }

  .heroContent {
    flex-direction: column;
  }

  .tile:not(:first-child)::before {
    display: grid;
    content: '';
    height: 100%;
    position: absolute;
    left: -16px;
    border-left: 1px solid #dedede;
  }
}

@media (min-width: $size-laptop) {
  .hero {
    display: grid;
    grid-column: span 12;
  }

  .heroText {
    @include flex-col();
    position: relative;
    grid-column-start: span 4;
    margin-right: -15px;
  }

  .heroGrid {
    @include grid(12);
  }

  .groupTwo {
    position: relative;
    display: grid;
    height: max-content;
    grid-column: span 8;
  }

  .heroContent {
    flex-direction: column;
  }

  .tile:not(:first-child)::before {
    display: grid;
    content: '';
    height: 100%;
    position: absolute;
    left: -16px;
    border-left: 1px solid #dedede;
  }

  .groupTwo:not(:first-child)::before {
    // display: grid;
    // content: '';
    // height: 100%;
    // position: absolute;
    // left: -16px;
    // border-left: 1px solid #dedede;
  }
}
