@import 'styles/news';

.content {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 20px;
}

.opinionBlock {
  @include media('>laptop') {
    display: flex;
  }
}

.content {
  @include media('>laptop') {
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: 70% 30%;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    margin-top: 20px;
    /* padding: 0 3%; */
  }
}
