@import 'styles/news';

.content {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 20px;
}

.opinionBlock {
  @include media('>laptop') {
    display: flex;
  }
}
.contentBody {
  border-right: 1px solid #c7c7c7;
  padding-right: 15px;
}
.opinionBlock::before {
  // @include divider-section('top', 'dark');
}
.opinionSpacer {
  padding-left: 15px;
}
.opinionBlock {
  border-top: 1px solid #121212;
  // display: relative;
}

.content {
  @include media('>laptop') {
    display: grid;
    grid-template-columns: 70% 30%;
    // column-gap: 0px;
    gap: 0px;
    margin-top: 20px;
  }
}
