@import '../../styles/news';

%container {
  padding-bottom: 32px;
  color: black;
  font-family: $font-serif;
  height: max-content;
  &::before {
    border-bottom: 1px solid #121212;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    content: '';
    display: block;
  }
}

%itemColumnContainer {
  @include flex-col;
}
%itemRowContainer {
  @include flex-row;
}

%categoryHeader {
  font-weight: 700;
  color: #121212;
  font-family: $font-sans;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}

%authors {
  font-family: $font-sans;
  letter-spacing: 0.012em;
  line-height: 0.625rem;
  font-size: 0.5625rem;
  text-align: right;
}

%title {
  font-family: $font-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  // color: black;
  // &:hover {
  //   @include link-hover;
  // }
}

%excerpt {
  letter-spacing: 0.1px;
  line-height: 1.1875rem;
  font-family: $font-serif;
  font-size: 0.875rem;
  color: #737373;
}
