@import 'tile';

.tileContainer {
  @include flex-col;
  flex: 1 1 auto;
  border: 2px black solid;
  position: relative;
  min-height: 100%;
  // min-height: 100%;

  &:hover {
    @include link-hover;
  }
  &::before {
    @include divider-section('left', 'light');
  }
}
.tileRowContainer {
  display: grid;
  grid-template-columns: auto 91px;

  // @include flex-row;
  // flex: 1 1 auto;
  column-gap: 11px;
  border: 2px black solid;
  position: relative;
  min-height: 100%;
  // // min-height: 100%;

  &::before {
    @include divider-section('left', 'light');
  }
}

.image {
  display: block;
  position: relative;
}

.title {
  @extend %title;
  font-size: 0.8rem;
  @include flex-col;
  position: relative;
  // flex: 1 1 auto;
}

.container {
  @extend %container;
  // padding-bottom: 40px;
  position: relative;
  // height: 100%;
  // display: flex;
  // &::before {
  //   @include divider-section('top', 'dark');
  //   // margin-top: 30px;
  //   margin-bottom: 50px;
  // }
}

.flexTile {
  display: flex;
}

.categoryHeader {
  @extend %categoryHeader;
}

// "flex flex-col bg-blue-500"

.rowTileContent {
  display: flex;
  flex-direction: column;
}
// "text-xs pt-1"
.rowTileExcerpt {
  padding-top: 4px;
  font-size: 0.875rem;
  letter-spacing: 0.1px;
  line-height: 1.1875rem;
  font-family: $font-serif;
  color: #595959;
}

.rowTileTitle {
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-family: $font-serif;
  position: relative;
  // color: black;
}
.hover:hover {
  // color: red;
  // opacity: 50%;
  // transition-property: color;
  // transition: color 0.6s ease;
  // transition-property: ;
  @include link-hover;
}
