@import 'tile';

.tileContainer {
  // @include divider-item('left');
  // @include divider-item('right');
  @include flex-col;
  // background-color: red;
  height: 100%;
  &::before {
    @include divider-section('left', 'light');
  }
  &::after {
    @include divider-section('right', 'light');
    // right: -25px;
  }
}

.title {
  @extend %title;
  font-size: 0.8rem;
}

.container {
  padding-bottom: 40px;
  height: max-content;
}
