@import 'tile';

.tileContainer {
  @include flex-col;
  flex: 1 1 auto;
  border: 2px black solid;
  position: relative;
  min-height: max-content;

  &::before {
    @include divider-section('left', 'light');
  }
}

.image {
  display: block;
  position: relative;
}

.title {
  @extend %title;
  font-size: 0.8rem;
  @include flex-col;
  position: relative;
  flex: 1 1 auto;
}

.container {
  padding-bottom: 40px;
  height: max-content;
}
