@import 'styles/news';

.input {
  width: 100%;
  height: 30px;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin: 0px;
  padding: 1px 40px 0px 10px;
  vertical-align: middle;
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  flex: 1 1 auto;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
}

// need to add   padding: 7px 0px; to container outside
// input container, but it shoudl only be used for mobile view
.inputContainer {
  background-color: white;
  display: inline-block;
  margin-right: 10px;

  position: relative;
  width: 100%;
  border-radius: 2px;
  align-items: center;
  font-size: 0.7em;
}

.clear {
  padding: 10px 10px;
  position: absolute;
  right: 0px;
  // top: 8px;
  top: 0px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  border: 0px none;
  color: rgb(179, 179, 179);
  font-size: 0.9em;
}

.clear:disabled {
  color: transparent;
  pointer-events: none;
}

.btn {
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 30px;
  font-weight: bold;
  margin: 0px;
  padding: 8px 9px 6px;
  vertical-align: middle;
}

.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
