.container {
  padding-bottom: 32px;
  font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
}

.articleLink:hover {
  opacity: 50%;
  transition-property: opacity;
  transition-duration: 0.6s;
}


.container:not(:first-child)::before {
  content: '';
  display: block;
  border-bottom: 1px solid #121212;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  font-family: Georgia, ui-serif, Cambria, 'Times New Roman', Times, serif;
}

.card {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  column-gap: 31px;
}


.image {
  position: relative;
  display: block;
  grid-column: span 6;
}

.text {
  position: relative;
  grid-column: span 4;
}

.caption {
  position: relative;
  grid-column: span 4;
  color: #737373;
  font-size: 0.6875rem;
  letter-spacing: 0.2px;
  line-height: 0.875rem;
}

.title {
  font-weight: bold;
}

.excerpt {
  padding-top: 8px;
}