.container {
  padding-bottom: 32px;
  font-family: $font-serif;
}

.articleLink:hover {
  @include link-hover;
}

.container:not(:first-child)::before {
  content: '';
  display: block;
  border-bottom: 1px solid #121212;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.card {
  @include grid;
}

.image {
  position: relative;
  display: block;
  grid-column: span 6;
}

.text {
  position: relative;
  grid-column: span 4;
}

.caption {
  position: relative;
  grid-column: span 4;
  color: #737373;
  font-size: 0.6875rem;
  letter-spacing: 0.2px;
  line-height: 0.875rem;
}

.title {
  font-weight: bold;
}

.excerpt {
  padding-top: 8px;
}
