@import 'styles/news';
@import 'styles/home';

@mixin home-link-hover($color) {
  &:hover {
    color: $color;
    transition: color 0.6s ease;
  }
}

.tileContainer {
  @include flex-col;
  @include media('>tablet') {
    @include flex-row;
  }
  // max-width: 80%;
  padding: 10px 20px;
  @include media('>tablet') {
    padding: 10px 40px;
  }

  .list {
    list-style-type: circle;
  }
  .cardText {
    // @include home-link-hover(#555);
    flex: 2;
    .tileHeader {
      @extend %title;
      text-align: center;
    }
    .subtitle {
      @extend %subtitle;
      text-align: center;
    }
  }
  .cardImage {
    background-color: blue;
    flex: 3;
  }
}

.welcomeMessage {
  color: $nl-text;
  font-size: xx-large;
  text-align: center;
  margin: 1.2rem 0rem 1rem;
  @include media('>tablet') {
    margin-bottom: 1rem;
  }
}

.homeContainer {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-rows: auto;
  // grid-template-rows: auto auto;
  // margin-top: 3rem;
  background-color: $nl-background;
  font-family: $nl-font-family;
  @include flex-col;
  @include media('>desktop') {
    @include flex-row;
    justify-content: space-between;
  }
  // margin: 0px auto;
}

.tileContainer {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 0px;
  width: 100%;
  @include media('>tablet') {
    margin: 0px 0px 20px;
  }
}

.tileGroup {
  @include flex-col;
  justify-content: space-between;
  @include media('>tablet', '<desktop') {
    justify-content: space-between;
    @include flex-row;
  }
  @include media('>desktop') {
    justify-content: flex-start;
  }
}

.tileGroupMiddle {
  @include flex-col;
  justify-content: space-between;
  @include media('>tablet', '<desktop') {
    justify-content: center;
    @include flex-row;
  }
  @include media('>desktop') {
    justify-content: flex-start;
  }
  @include media('>desktop') {
    margin: 0px 20px 20px;
  }
}

.tileButton {
  background-color: $nl-accent-background;
  color: rgb(30, 58, 138);
  padding: 15px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  margin: 10px auto;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  &:hover {
    background-color: $nl-accent-background-dark;
  }
}
