@import 'styles/news';

%title {
  font-weight: 800;
  font-size: xx-large;
}
%subtitle {
  font-weight: 600;
  font-size: x-large;
}

@mixin home-link-hover($color) {
  &:hover {
    color: $color;
    transition: color 0.6s ease;
  }
}

.tileContainer {
  @include flex-col;
  @include media('>tablet') {
    @include flex-row;
  }
  // max-width: 80%;
  padding: 10px 20px;
  @include media('>tablet') {
    padding: 10px 40px;
  }
  .cardText {
    @include home-link-hover(#555);
    flex: 2;
    .tileHeader {
      @extend %title;
    }
    .subtitle {
      @extend %subtitle;
    }
  }
  .cardImage {
    background-color: blue;
    flex: 3;
  }
}

.homeContainer {
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.projectImage {
  max-height: 80%;
  max-width: 80%;
  background-color: red;
}

.imageContainer {
  // background-image: url('../public/monitor.svg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
  max-height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.it {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.itt {
  height: 50%;
}

.ittt {
  width: 60%;
  margin: auto auto auto;
}

.laptop {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 400px;
  @include media('>desktop') {
    font-size: 700px;
  }
}
