@import 'styles/news';
@import 'styles/home';

@mixin home-link-hover-2($color) {
  &:hover {
    color: color.adjust($color, $red: 15);
    transition: color 0.6s ease;
  }
}

@mixin debug-response() {
  @include media('<phone') {
    background-color: red;
  }
  @include media('>phone', '<tablet') {
    background-color: orange;
  }
  @include media('>tablet', '<laptop') {
    background-color: yellow;
  }
  @include media('>laptop', '<desktop') {
    background-color: blue;
  }
  @include media('>desktop') {
    background-color: green;
  }
}

.tileContainer {
  background-color: #fff;
  // margin: 20px 0px;
  border-radius: 30px;
  padding: 15px 0px;
  @include flex-col;
  justify-content: space-between;
  .list {
    &::before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $nl-accent-text; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    &:not(:first-child) {
      margin-top: 0.7rem;
    }
  }
}
.tileHeader {
  @extend %title;
}
.subtitle {
  @extend %subtitle;
}
.technologies {
  @extend %technologies;
}
.body {
  @extend %body;
}

.welcomeMessage {
  color: $nl-text;
  font-size: 2.2rem;
  font-family: $nl-font-family;
  text-align: center;
  font-weight: 500;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  @include media('>tablet') {
    margin-bottom: 2rem;
  }
}

.tileButton {
  @extend %homeButton;
  &:not(.disabledButton) {
    @include style-home-button($nl-accent-background, #1f3a85);
  }
  &:is(.disabledButton) {
    @include basic-button-style($nl-accent-background, #1f3a85);
  }
}
.learnMoreButton {
  @extend %homeButton;
  &:not(.disabledButton) {
    @include style-home-button($nl-learn-button, $nl-learn-button-text);
  }
}
.bodyList {
  max-width: max-content;
  margin-right: -1em;
}

.cards {
  margin-top: 30px;
  display: grid;
  @include media('>phone') {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
  gap: 50px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px max-content;
  gap: 15px;
}

.linkWrapperGithub {
  @include focus-wrapper($nl-accent-background-dark);
}

.linkWrapperLearn {
  @include focus-wrapper($nl-learn-button);
}
