@import '../../../styles/home';

.primaryButton {
  @extend %homeButton;
  @include style-home-button(#ff9e9e, #000);
  margin: 0px auto 10px;
  font-size: 1.3rem;
  width: 250px;
}

.buttonFocusWrapper {
  @include focus-wrapper(#ff9e9e);
  width: max-content;
}
