.footer {
  padding: 0px 3%;
}

.wrapper {
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* max-width: 1380px; */
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 3%; */
  /* padding-right: 3%; */
}
