/* largest container that centers content */
.container {
  margin: 35px auto 0px;
  display: block;
  max-width: 1200px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: calc(100% - 50px); */
  margin: 0px auto;
}

.btnLatest {
  padding: 13px 45px 8px;
  color: #333;
  border-radius: 2px;
  border: 2px black solid;
}
.btnSearch {
  padding: 13px 45px 8px;
  color: #333;
}
