@import 'styles/news';
@import 'styles/home';
.mainContainer {
  display: grid;
  grid-template-rows: max-content 200px max-content max-content 1fr;
  gap: 50px;
  color: #fff;
  font-family: $nl-font-family;
  // max-width: 1000px;
  // max-width: 75ch;
  max-width: 75ch;
  // padding: 0px 10%;
  // padding: 0 1em;

  margin: 0 auto;
  padding: 0 1.75rem;
}

.title {
  font-size: 1.5rem;
  margin-top: 10px;
  @include media('>tablet') {
    font-size: 2rem;
    margin-top: 0px;
  }
  font-weight: 600;
  text-align: center;
}

.list {
  &::before {
    content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #fff; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.bodyList {
  // margin: 0px auto;
  margin-right: -1em;
  @extend %bodyFont;
  // font-size: 1.125rem;
  // @include media('>tablet') {
  //   font-size: 1.375rem;
  // }
}

.primaryButton {
  @extend %homeButton;
  margin: 0px auto 10px;
  font-size: 1.3rem;
  width: 250px;
  &:not(.disabledButton) {
    @include style-home-button($nl-accent-background, #1f3a85);
  }
  &:is(.disabledButton) {
    @include basic-button-style($nl-accent-background, #1f3a85);
  }
}

.buttonFocusWrapper {
  @include focus-wrapper($nl-accent-background-dark);
}

.image {
  display: grid;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  padding: 10px 40px;
}
.technology {
  font-family: $nl-font-family;
  color: $nl-accent-background-dark;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // height: max-content;
  .technologyTitle {
    font-size: 1.5rem;
    @include media('>tablet') {
      font-size: 1.7rem;
    }
    margin-bottom: 10px;
  }
  .technologyText {
    font-size: 1.2rem;
    font-style: oblique;
    @include media('>tablet') {
      font-size: 1.3rem;
    }
    margin: 0px auto;
    @include flex-row;
    // background-color: red;
    justify-content: center;
  }
}
