@import './news';
$nl-background: rgb(17, 24, 39);
$nl-text: #fff;
$nl-accent-background: rgb(219, 234, 254);
$nl-accent-background-dark: rgb(193, 208, 246);
$nl-accent-text: rgb(30, 58, 138);
$nl-font-family: 'Segoe UI', Tahoma, Geneva, Verdana;

%title {
  font-weight: 700;
  // font-size: xx-large;
  font-size: 1.4rem;
  padding: 10px 20px 0px;

  text-align: center;
  @include media('>tablet') {
    padding: 10px 30px 0px;
  }
}
%subtitle {
  font-weight: 600;
  // font-size: x-large;
  font-size: 1.2rem;
  margin: 10px 0px 0px;
  padding: 0px 20px 0px;
  text-align: center;
  @include media('>tablet') {
    padding: 0px 30px;
  }
}
%technologies {
  font-weight: 600;
  // font-size: x-large;
  text-align: center;
  font-size: 1.1rem;
  margin: 10px 0px 0px;
  padding: 0px 20px 0px;
  font-family: monospace;
  color: $nl-accent-text;
  @include media('>tablet') {
    padding: 0px 30px;
  }
}
%body {
  font-weight: normal;
  // text-align: center;
  // font-size: x-large;
  font-size: 1rem;
  margin: 10px 0px 20px;
  padding: 0px 50px;
  @include media('>tablet') {
    padding: 0px 50px 0px;
  }
}
