$font-serif: Georgia, 'Times New Roman', ui-serif, Cambria, Times, serif;
$font-sans: Arial, 'Segoe UI', ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$excerpt-color: #737373;
$border-light: #c7c7c7;
$size-phone: 600px;
$size-tablet: 768px;
$size-laptop: 992px;
$size-desktop: 1200px;

// nyt uses min(740px) and min(1070px)

@mixin link-hover() {
  color: #737373;
  // opacity: 50%;
  // transition-property: color;
  transition: color 0.6s ease;
  // transition-property: opacity;
  // transition-duration: 0.6s;
  // transition-timing-function: ease;
}

@mixin grid($columns: 14, $gap: 31px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  column-gap: $gap;
}

@mixin grid-span($n: 4) {
  display: grid;
  grid-column: span $n;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}
@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin sticky-position {
  position: fixed;
  @supports (position: sticky) {
    position: sticky;
  }
}

@function translate-media-condition($c) {
  $condMap: (
    'screen': 'only screen',
    'print': 'only print',
    '>phone': '(min-width: #{$size-phone + 1})',
    '<phone': '(max-width: #{$size-phone})',
    '>tablet': '(min-width: #{$size-tablet + 1})',
    '<tablet': '(max-width: #{$size-tablet})',
    '>laptop': '(min-width: #{$size-laptop + 1})',
    '<laptop': '(max-width: #{$size-laptop})',
    '>desktop': '(min-width: #{$size-desktop + 1})',
    '<desktop': '(max-width: #{$size-desktop})',
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: '';
  @each $arg in $args {
    $op: '';
    @if ($query != '') {
      $op: ' and ';
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

@function translate-border-color($c) {
  $dark-color: #121212;
  $light-color: #dedede;
  $condMap: (
    'light': #{$light-color},
    'dark': #{$dark-color},
  );
  @return map-get($condMap, $c);
}

@mixin divider-section($side: 'left', $color: 'light') {
  content: '';
  @if $side == 'left' {
    height: 100%;
    position: absolute;
    left: -16px;
    border-left: 1px solid translate-border-color($color);
  } @else if $side == 'right' {
    height: 100%;
    position: absolute;
    right: -16px;
    border-#{$side}: 1px solid translate-border-color($color);
  } @else if $side == 'top' {
    border-bottom: 1px solid translate-border-color($color);
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    content: '';
    display: block;
  } @else if $side == 'bottom' {
    border-bottom: 1px solid translate-border-color($color);
    margin-top: 15px;
    margin-bottom: 15px;

    display: block;
  } @else {
    @error "Unknown side #{$side}.";
  }
}

@mixin divider-item($side: 'right', $color: 'light') {
  margin-#{$side}: 16px;
  padding-#{$side}: 16px;
  border-#{$side}: 1px solid translate-border-color($color);
}

@mixin body-container() {
  @include flex-col;
  // max-width: 100vw;
  padding-left: 24px;
  padding-right: 24px;
  margin: 20px auto 0px;

  @include media('>laptop') {
    max-width: 1360px;
  }

  // padding-top: 20px;

  // border-top: 1px solid #121212;
  @include media('>phone') {
    padding: 0 3%;
  }
}
