$font-serif: Georgia, 'Times New Roman', ui-serif, Cambria, Times, serif;
$font-sans: Arial, 'Segoe UI', ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$excerpt-color: #737373;
$border-light: #c7c7c7;

@mixin link-hover() {
  opacity: 50%;
  transition-property: opacity;
  transition-duration: 0.6s;
}

@mixin grid($columns: 14, $gap: 31px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  column-gap: $gap;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}
